{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<!--    <img src="{% static 'images/men_fashion.jpg' %}" alt="fashion_image" style="height:513px; width:1513px; ">-->
</div>

<div>
        <h1>Our products Collection</h1>
  </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2"><a href="{% url 'add_product' %}" class="btn btn-primary">Add New product</a></div>

</div>
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="{{product.image.url}}" class="card-img-top" alt="..." style="height:200px; width:200px;">
                   <div class="card-body">
                      <h5 class="card-title">{{ product.name }} </h5>
                      <h5 class="card-title">Rs.{{ product.price }} </h5>
                      <p class="card-text">{{product.description}}</p>
                      <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit product</a>
                      <a href="{% url 'delete_product' product.id %}" class="btn btn-primary">Delete</a>
                   </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}